<script lang="ts" setup>
import { useLoadingStore } from "@/stores/loading";
const useLoading = useLoadingStore();
</script>
<template>
  <v-dialog v-model="useLoading.isLoading" persistent width="auto">
    <v-card width="250px" height="100px">
      <v-card-text class="text-center">
        <div>Please wait</div>
        <v-progress-circular
          :size="50"
          :width="7"
          color="purple"
          indeterminate
        ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
