<script lang="ts" setup>
import { useUserStore } from "@/stores/users";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";
const useUser = useUserStore();

onMounted(async () => {
  await useUser.getUsers();
});
</script>

<template>
  <v-container>
    <UserDialog></UserDialog>
    <v-row>
      <v-col cols="10"> </v-col>
      <v-col>
        <v-btn @click="useUser.dialog = true">Add New</v-btn>
      </v-col>
    </v-row>
    <v-table>
      <thead>
        <tr>
          <th>ID</th>
          <th>login</th>
          <th>Name</th>
          <th>Password</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of useUser.users" :key="item.id">
          <td>{{ item.id }}</td>
          <td>{{ item.login }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.password }}</td>
          <td>
            <v-btn @click="useUser.editUsers(item)">Edit</v-btn
            ><v-btn class="ml-6" @click="useUser.deleteUsers(item.id!)"
              >Delete</v-btn
            >
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-container>
</template>
