<script lang="ts" setup>
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useUserStore } from "@/stores/users";
const userStore = useUserStore();
const form = ref<VForm | null>(null);

async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    userStore.saveUsers();
  }
}
</script>
<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog" persistent width="1024">
      <v-card>
        <v-card-title>
          <span class="text-h5">User</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Login*"
                    required
                    v-model="userStore.editedUsers.login"
                    :rules="[
                      (v) => !!v || 'Item is required',
                      (v) => v.length >= 5 || 'length must mor than 5',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Name*"
                    required
                    v-model="userStore.editedUsers.name"
                    :rules="[
                      (v) => !!v || 'Item is required',
                      (v) => v.length >= 5 || 'length must mor than 5',
                    ]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Password*"
                    type="password"
                    required
                    v-model.number="userStore.editedUsers.password"
                    :rules="[(v) => !!v || 'Item is required']"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
          <small>*indicates required field</small>
          <p>{{ userStore.editedUsers }}</p>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="userStore.dialog = false"
          >
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
